@import url(http://fonts.googleapis.com/css?family=Ropa+Sans|PT+Sans+Narrow);


// Transitions
// Source: http://caniuse.com/#feat=css-transitions
@mixin transition($property, $duration, $timing) {
  -webkit-transition: $property $duration $timing; // Safari 5.1+
  -o-transition: $property $duration $timing; // Opera 19+
  transition: $property $duration $timing; // IE10+, FF 26+, Chrome 31+
}

// Clearfix
// Source: http://nicolasgallagher.com/micro-clearfix-hack/

%clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}


// CSS reset
html,body,div,span,section,h1,h2,h3,img,p,ol,ul,li,a{border:0;margin:0;padding:0}article,footer,header,nav,section,{display:block}a img{border:0}

// Box layout
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

// Columns
.row {
  margin: 0 auto;
  max-width: 1280px;
  min-width: 755px;
  padding: 0 20px;
  width: 100%;
  @extend %clearfix;
}

.threecol, .fourcol, .sixcol, .twelvecol {
  float: left;
  padding: 0 2%;
}

.threecol {
  width: 25%;
}

.fourcol {
  width: 33%;
}

.sixcol {
  width: 50%;
}

.twelvecol {
  width: 100%;
}



html {
  background: #212121 url(../img/html_bg.jpg) repeat left top;
}

body {
  border-top: 14px solid #FF6240;
  color: #8A8A8A;
  font: 17px/1.5 'Ropa Sans', Arial, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* Custom selection styles */
::-moz-selection {
  background: #01bbff;
  color: #fff;
  color: rgba(255, 255, 255, 0.7);
}
::selection {
  background: #01bbff;
  color: #fff;
  color: rgba(255, 255, 255, 0.7);
}

h2.twelvecol {
  border-top: 1px dotted #5a5a5a;
  color: #01bbff;
  font-family: 'PT Sans Narrow';
  font-size: 2.4em;
  font-weight: normal;
  line-height: 1.2;
  margin-top: 40px;
  padding: 60px 2%;
}

h1, h3 {
  color: #fff;
  font-family: 'PT Sans Narrow';
  font-size: 1.8em;
  font-weight: normal;
  line-height: 1.6;
}

h1 {
  clear: both;
  color: #fff;
  margin: 40px 0 3px;
  text-transform: uppercase;
}

a {
  color: #7a7a7a;
  text-decoration: none;
}

ul {
  clear: both;
  list-style: none;
}



.about {
  h1 span {
    color: #5A5A5A;
  }

  h2 {
    border: none;
    margin-top: 20px;
  }
}



.description {
  color: #8a8a8a;

  a {
    @include transition(all, 0.2s, ease-out);
    border-bottom: 1px solid rgba(0,0,0,0);
    color: #aaa;

    &:hover {
      color: #fff;
      border-bottom: 1px solid #fff;
    }
  }
}



.social {
  clear: both;
  line-height: 1.4;
  font-size: 16px;

  a {
    @include transition(all, 0.2s, ease-out);
    border-bottom: 1px solid rgba(0,0,0,0);

    &:hover {
      color: #fff;
      border-bottom: 1px solid #fff;
    }
  }
}



.sites {
  li {
    margin-top: 10px;
    margin-bottom: 80px;
    text-align: left;

    &:nth-child(odd) {
      clear: both;
    }
  }

  a {
    display: block;

    &:hover {
      h3 {
        border-bottom: 1px solid #fff;
      }
      img {
        background: #000;
      }
    }
  }

  h3 {
    float: left;
    border-bottom: 1px solid rgba(0,0,0,0);
    line-height: 1;
    margin: 0.6em 0;
    @include transition(all, 0.2s, ease-out);
  }

  time {
    color: #5a5a5a;
    float: right;
    position: relative;
    top: 24px;
    display: inline-block;
    @include transition(all, 0.2s, ease-out);
  }

  p {
    clear: both;
  }

  img {
    background: #111;
    display: block;
    margin-bottom: 5px;
    padding: 1%;
    width: 100%;
    @include transition(all, 0.2s, ease-out);
  }
}



.skills {
  h2 {
    margin-top: 0;
  }
  .fluent {
    clear: both;
  }

  ul {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    margin-bottom: 100px;
  }

  li {
    float: none;
    width: 100%;
  }

  span {
    display: none;
  }
}



.to_top {
  @include transition(all, 0.5s, ease-out);
  color: #5A5A5A;
  display: block;
  font-size: 0.9em;
  margin: 7px auto;
  padding: 24px 10px 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 90px;

  span {
    border-bottom: 60px solid #000000;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    bottom: -7px;
    height: 0;
    left: -15px;
    position: absolute;
    width: 0;
    z-index: -1;
    @include transition(all, 0.5s, ease-out);
  }

  &:hover {
    color: #000;

    span {
      border-bottom-color: #01bbff;
    }
  }
}



@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  body {
    font-size: 0.8em;
    line-height: 1.5em;
  }

  html .row {
    min-width: 715px;
  }

  .sites li time {
    background: #FF6240;
  }
  .sites li img {
    background: #FF6240;
  }
}

@media handheld, only screen and (max-width: 767px) {
  body {
    font-size: 16px;
    -webkit-text-size-adjust: none;
  }

  .row, body, .container {
    width: 100%;
    min-width: 0;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .row {
    .threecol, .fourcol, .sixcol, .twelvecol {
      width: auto;
      float: none;
      margin-left: 0px;
      margin-right: 0px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  h1, h2 {
    padding: 0 20px;
  }

  html .row {
    min-width: 100%;
  }

  .social ul {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    margin-bottom: 20px;
  }

  .skills .fourcol {
    margin-bottom: 20px;
  }

}